*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(149, 218, 149), rgb(127, 163, 86), rgb(190, 228, 115),rgb(74, 238, 74));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #31690c, #77c024);
    color: #fff;
    margin: 40px auto;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size:45px;
    font-weight: 400px;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}
@media (max-width: 450px) {
    .humidity, .wind{
        font-size: 20px;
    }
    .humd, .wnds{
        font-size: 15px;
    }
    .search input{
        height: 50px;
        min-width: 100px;
    }
    .search button{
        max-height: 50px;
        max-width: 50px;
    }
    .search button img{
        width: 18px;
        margin-top: 6px;
        
    }
    .weather h1{
        font-size: 60px;
    }
    .weather-icon{
        margin-top: 15px;
    }
    .details{
        margin-top: 25px;
    }
    .card{
        margin: 30px auto;
        height: 530px;
    }
}
